<div class="homecontainer">
    <div class="homesubconatiner">
      <div class="logo-container">
        <img
          src="../../../assets/images/logo_web.png"
          alt="weblogo"
          class="weblogo"
        />
        <div class="search-container">
          <input
            class="search-input-field"
            placeholder="Search City"
            type="text"
            name="cityName"
            [(ngModel)]="cityName"
            (ngModelChange)="handleChange($event)"
          />
          <img
            src="../../../assets/images/icon_search_white.png"
            alt="logo_search_web"
            class="logo_search_web"
          />
        </div>
      </div> 
      <div class="cities-div-web" >
        <p *ngFor="let city of cityResults" (click)="handleCityClick(city.name)">{{city.name}}</p>
    </div>
  
      <div class="navbar">
        <div class="navbarin">
          <div
            class="nav-labels"
            [routerLinkActive]="active"
            routerLink="/"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            HOME
          </div>
  
          <div
            class="nav-labels"
            routerLink="favourite"
            [routerLinkActive]="active"
          >
            FAVOURITE
          </div>
  
          <div class="nav-labels" routerLink="recent" [routerLinkActive]="active">
            RECENT SEARCH
          </div>
        </div>
        <p class="date-time">
          {{ date | date: "E" }},&nbsp;{{ date | date: "d" }}&nbsp;{{ date | date: "MMM" }}&nbsp;{{ date
            | date: "y" }}&nbsp;&nbsp;&nbsp;&nbsp;{{
            date | date: "shortTime"
            }}
        </p>
      </div>
      <div class="line"></div>
  
      <router-outlet />
    </div>
  </div>
  