.homecontainer {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to right, #5d5fce, #8e4091);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  .homesubconatiner {
    height: 100vh;
    margin: 0px 7vw;
    padding: 5vh 0px;
    display: flex;
    flex-direction: column;
  }
  
  .logo-container {
    display: flex;
    flex-direction: row;
    height: 2vh;
    width: 86vw;
    justify-content: space-between;
    align-items: center;
  }
  .search-container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 45px;
    width: 25vw;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #ffffff;
  }
  .search-input-field {
    box-sizing: border-box;
    height: 45px;
    width: 22vw;
    border: none;
    border-radius: 3px;
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19px;
    padding-left: 10px;
    font-family: Roboto Light;
    opacity: 0.8;
  }
  .search-input-field:focus {
    outline: none;
  }
  .search-input-field::placeholder {
    color: #ffffff;
  }
  
  .logo_search_web {
    margin-top: 12px;
    height: 20px;
  }
  
  .date-time {
    color: #ffffff;
    font-family: Roboto Regular;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
    text-align: right;
  }
  .navbar {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #ffffff;
    letter-spacing: 0;

  }
  .navbarin {
    width: 30vw;
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  
  .line {
    box-sizing: border-box;
    height: 1px;
    width: 87vw;
    border: 1px solid #ffffff;
    opacity: 0.3;
    margin-top: -10px;
  }
  
  .nav-labels {
    display: flex;
    color: #ffffff;

    font-size: 16px;
    letter-spacing: 0;
    height: 25px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-family:Roboto Light;
  }
  .active {
    color: #ffd639;
    border-bottom: #ffd639 solid 2px;
  }
  .cities-div-web {
    position: absolute;
    width: 25%;
    border-radius: 7px;
    text-align: center;
    top: 81px;
    right: 136px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    animation: search 0.5s ease forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .cities-div-web p {
    width: 100%;
    margin: 0px auto;
    font-size: 1.4rem;
    padding: 5px;
    box-sizing: border-box;
  }
  .cities-div-web p:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 7px;
  }