/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Light"; /*Can be any text*/
  src: url("./assets/fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "Regular"; /*Can be any text*/
  src: url("./assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Medium"; /*Can be any text*/
  src: url("./assets/fonts/Roboto-Medium.ttf");
}
