<div class="main">
    <div class="nothingdiv" *ngIf="favouriteCities.length === 0">
      <img
        src="../../../assets/images/icon_nothing.png"
        alt="icon_nothing"
        class="icon_nothing"
      />
      <div class="nothingtext">No Favourites added</div>
    </div>
  
    <div class="favtopbar" *ngIf="favouriteCities.length > 0">
      <div>{{ favouriteCities.length }} City added as favourite</div>
      <div (click)="clearFavouriteCities()">Remove All</div>
    </div>
    <div class="comprender">
      <div class="compdiv" *ngFor="let data of favouriteCities">
        <div class="comptext1">
          {{ data?.data?.location?.name }}, {{ data?.data?.location?.region }}
        </div>
        <div class="compdivin">
          <img
            src="https:{{ data?.data?.current?.condition.icon }}"
            alt="comp_icon"
            class="comp_icon"
          />
          <div class="comptext2" (click)="showWeatherDetails(data)">
            {{ (data?.data?.current?.temp_c).toFixed(0) }}
            <span class="comptext2-1">°c</span>
          </div>
          <div class="comptext3">{{ data?.data?.current?.condition?.text }}</div>
        </div>
  
        <img
          *ngIf="data?.favourite === false"
          src="../../../assets/images/favourite_icon_copy.png"
          alt="favourite"
          class="fav_icon"
        />
  
        <img
          *ngIf="data?.favourite === true"
          src="../../../assets/images/icon_favourite_Active.png"
          alt="favourite"
          class="fav_icon"
          (click)="removeFromFavourite(data)"
        />
      </div>
    </div>
  </div>
  
