.Home-Container {
    width: 87vw;
    height: 100%;
  }
  .cityNameRegion{
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    text-align: left;
    margin-top: 60px;
    font-family: Roboto Regular;
  }
  .addfavdiv {
    display: flex;
    flex-direction: "row";
    align-items: center;
  }
  .favourite_icon {
    width: 20px;
    height: 20px;
  }
  
  .addfavp {
    color: #ffffff;
    font-family: Roboto Regular;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 15px;
    margin-left: 10px;
  }
  .weatherdiv {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .weather_icon {
    height: 84px;
    width: 80px;
  }
  .temp-section {
    display: flex;
    flex-direction: row;
    height: 100px;
  }
  .temp-celcius-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  .temp-celcius-section-div {
    box-sizing: border-box;
    height: 30px;
    width: 28px;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .temp-fahren-section-div {
    display: flex;
    flex-direction: row;
  }
  .temp-sub-section {
    box-sizing: border-box;
    height: 30px;
    width: 28px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .notext {
    color: #ffffff;
    font-family: Roboto Regular;
    font-size: 64px;
    font-weight: 500;
    letter-spacing: 0;
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
  }
  .celcius-deg-unit {
    color: #ffffff;
    font-family: Roboto Regular;
    font-size: 12px;
    margin-top: -4px;
  }
  .celcius-deg-text {
    color: #ffffff;
    font-family: Roboto Regular;
    font-size: 16px;
  }
  .fahren-deg-unit {
    color: #e32843;
    font-family: Roboto Regular;
    font-size: 12px;
    margin-top: -4px;
  }
  .fahren-deg-text {
    color: #e32843;
    font-family: Roboto Regular;
    font-size: 16px;
  }
  
  .temp_description-content {
    color: #ffffff;
    font-family: Roboto Regular;
    font-size: 26px;
    letter-spacing: 0;
    line-height: 25px;
    text-align: center;
  }
  
  .line-copy {
    box-sizing: border-box;
    height: 1px;
    margin-top: 100px;
    border: 1px solid #ffffff;
    opacity: 0.3;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    padding: 5rem 7vw;
    justify-content: space-between;
  }
  .footer-container-div {
    height: 50px;
    width: 120px;
    display: flex;
    flex-direction: row;
  }
  .icon_temp {
    height: 32px;
    width: 16px;
  }
  
  .icon_prec {
    height: 29px;
    width: 30px;
  }
  
  .icon_humi {
    height: 25px;
    width: 19px;
  }
  
  .icon_wind {
    height: 22px;
    width: 32px;
  }
  
  .icon_vis {
    height: 20px;
    width: 34px;
  }
  .footer-container-divin {
    margin-left: 10px;
  }
  
  .footer-container-text1 {
    color: #ffffff;
    font-family: Roboto Regular;
    font-size: 18px;
  }
  .footer-container-text2 {
    color: #ffffff;
    font-family: Roboto Regular;
    font-size: 22px;
    margin-top: 5px;
  }
  